/* This will specify the style of flexbox containers that will 
contain information about my coding projects */

.boxsection {
    padding: 40px 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
}

.boxitem{
    padding-top: 20px;
    /* padding: 10px;  */
    box-shadow:
    2px 2px 2px rgb(50,41,68),
    4px 4px 4px rgb(144,122,163);
    background: rgb(67,133,139);
    width: 400px; 
    text-align: center;
    border-radius:1em;
    border: 2.5px solid rgb(144,122,163);
    text-decoration: none;
    .small_img {
        text-align: center;
        display: block;
        margin: auto;
        margin-right: auto;
        width: 60%;
        height: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
}

.boxitem a {
    text-align: center;
    margin: 10px;
    font-size: 23px;
    color: rgb(201, 240, 255);
    text-decoration: none;
}

.boxitem a:hover {
    color: rgb(203, 189, 216);
}

.boxitem p {
    width: 90%;
    font-size: 18px;
}