body {
  background-color: lightblue;
}

h1 {
  color: black;
  text-align: center;
}

p {
  color: black;
  text-align: center;
}

@keyframes juliaanimation {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

div {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: linear-gradient(90deg, red, yellow);
  margin: auto;
}

.div {
    animation: juliaanimation 2s infinite linear;
    transition: width 1s, height 1s
}

div:hover {
  width: 250px;
  height: 250px;
}