body {
  background-color: #A5CAC1;
}

h1 {
  color: #A5CAC1;
  font-size: 55px;
  font-family: system-ui;
  text-align: center;
  margin-top: 30px;
}

h2 {
  font-size: xx-large;
  color: black;
  font-family: system-ui;
  text-align: center;
  padding: 0px 20px 20px;;
  width: 40%;
  margin: auto;
  margin-top: 30px;
}

p {
  color: black;
  justify-content: justify;
  text-align: justify;
  font-family: system-ui;
  display: block;
  margin: auto;
  align-items: center;
  font-size: 22px;
  width: 40%;
  height: 60%;
  margin-bottom: 20px;
}

a {
  font-family: system-ui;
  font-size: large;
  margin: auto;
  /* justify-content: center; */
  vertical-align:text-bottom;
  height: 25px;
}

span {
  justify-content: center;
  margin: auto;
  vertical-align:text-bottom;
}

.small_img {
  text-align: center;
  display: block;
  margin: auto;
  margin-right: auto;
  width: 30%;
  height: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Header */
.header{
  position: static;
  padding: 40px;
  background-color: rgb(67,133,139);
  z-index: 2;
}

.header a{
  color: #A5CAC1;
  align-content:safe;
  text-decoration: none;
  z-index: 2;
}

/* The navbar container */
.topnav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-decoration: none;
  overflow: hidden;
  background-color: rgb(144,122,163);
  z-index: 1;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  position: inherit;
  height:50px;
  line-height: 50px;
  + .rightnav {
    float: right;
    display: block;
    position: inherit;
    text-justify: inherit;
  }
}

.active {
    background-color: rgb(50,41,68);
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #325e80;
}

.topnav a:active {
  background-color: rgb(67,133,139);
  color: #ddd;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

abbr[title] {
  font-style: italic;
  position: relative;
  text-decoration:underline;
}

abbr[title]:hover::after,
abbr[title]:focus::after {
  content: attr(title);
  text-align: left;
  position: absolute;
  left: 1;
  bottom: 100%;
  width: 200px;
  white-space: wrap;
  background-color: #fff;
  color: #1e1e1e;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
  font-size: 15px;
  padding: 5px 5px;
}

.material-symbols-outlined {
  width: 30px;
  font-variation-settings:
  'FILL' 1,
  'wght' 100,
  'GRAD' 0,
  'opsz' 0,
}