body {
    background-color: lightblue;
  }
  
  h1 {
    color: black;
    font-size: xxx-large;
    font-family: system-ui;
    text-align: center;
    margin-top: 30px;
  }
  
  h2 {
    font-size: xx-large;
    color: black;
    font-family: system-ui;
    text-align: center;
    padding: 0px 20px 20px;;
    margin-top: 30px;
  }
  
  p {
    color: black;
    justify-content: center;
    text-align: justify;
    font-size: larger;
    padding: 0px 20px 20px;;
    width: 60%;
    height: 60%;
  }
  
  @keyframes juliaanimation {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }
  
  div {
    margin: auto;
    justify-content: center;
  }

  .center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 60%;
  }

  .small_img {
    margin-top: 20px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
  }
  
  .wrapper {
    display: flex;
    flex: wrap;
  }

  .header{
    /* position: -webkit-sticky; */
    position: static;
    top: 10;
    padding: 10px;
    background-color: rgb(109, 172, 218);
    z-index: 2;
  }

  .header a{
    color: #000;
    text-decoration: none;
  }

  /* The navbar container */
  .topnav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #333;
    z-index: 2;
  }

  /* Navbar links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }

  /* Links - change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  position: static;
  object-fit: contain;
  top: 0;
  width: 80%;
  z-index: 2;
}

/* Right column */
.rightcolumn {
  float: right;
  position: static;
  top: 0;
  width: 20%;
  justify-content: right;
  object-fit: contain;
  z-index: 2;
}

  .sun {
    background-image: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    width: 150px;
    height: 150px;
    opacity: 0.95;
    border-radius: 50%;
    animation: juliaanimation 2s infinite linear;
    transition: width 1s, height 1s;
    z-index: 1;
}
  
